@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'highlight.js/styles/github-dark.css';

@layer base {
  :root {
    --background: black;
    --foreground: white;
  }
}

body {
  background-color: black;
  color: white;
} 